.footer{
    background-color: $secundario;
    display:flex;
    width: 100%;
    justify-content: space-between;
    &__ul{
        width: 20%;
        list-style: none;
        &__li{
            
            &__a{
                text-decoration: none;
                color: black;
                &:hover{
                    text-decoration:underline;
                }
                
            }
        }
    }
    &__iframe{
        position:static;
        right: 0px;
    }
}