.footer{
    display:flex;
    justify-content: space-between;
    &__ul{
        list-style: none;
        &__li{
            
            &__a{
                text-decoration: none;
                color: black;
                &:hover{
                    text-decoration:underline;
                }
                &--i{

                }
            }
        }
    }
}