@import './parciales/footer';
@import './parciales/main';
* { 
	margin: 0;
	padding: 0;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
}
.header{
    background-color: #FFB9B9;
}

.header__a--img{
    width: 5vw;
}
.header__nav{
   
    font-size: 0.5cm;
    top:10px;
    display: inline-block;
    position:absolute;
    right:6px;
}
.header__nav__ul__li{
    display: inline-block;
}
.header__nav__ul__li--a{
    text-decoration: none;
}
.main{
    background-color:#FFDDD2;
}
.main__h1{
    display: inline-block;
    left: 25vw;
    font-size: 1cm;
}
.main__img{
    width: 20vw;
}

.main__form__div--inputEnviar{
    background-color: #F2BED1;
}

.main__form__div--inputReset{
    background-color: #FDCEDF;
}
.main__section__a--img{
    width: 100%;
}
.footer{
    background-color: #FFACC7;
}
.footer__iframe{
    position:static;
    right: 0px;
}
