@import './parciales/variables'
@import './parciales/footer';
@import './parciales/main';
@import'./parciales/header';
* { font-family: 'IBM Plex Sans', sans-serif;
	margin: 0;
	padding: 0;
}
.row{
	max-width: 100%;
}


